* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/imagens/fundo-azul.jpg);
    background-size: 100%;

}

html {
    font-size: 62.5%;
}

#container {
    display: grid;
    grid-template-rows: 47vh 10vh 6vh 15vh 12vh;
    background-color: rgb(21, 21, 42);
    width: 1000px;
    /* height: 90vh; */
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(248, 238, 210);
    margin: 5vh auto;
    position: relative;
}

#titulo {
    width: 65%;
    margin: auto;
    grid-area: 1 / 1;
}

#orientacoes {
    width: 60%;
    background-color: rgb(49, 111, 178);
    border: double 7px rgb(165, 168, 167);
    border-radius: 5px;
    margin: auto;
    font-size: 6rem;
    line-height: 10rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 0.5em;
    width: 150%;
    font-size: 3.5rem;
    line-height: 1.1em;
    text-align: center;
    color: brown;
    box-shadow: 5px 10px brown;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

#mostra-dicas {
    width: 65%;
    background-color: rgb(49, 111, 178);
    border: double 7px rgb(165, 168, 167);
    border-radius: 5px;
    margin: auto;
    font-family: "Palatino Lynotype";
    color: white;
    font-style: italic;
    font-size: 4.5rem;
    line-height: 10rem;
    display: none;
    justify-content: center;
    grid-area: 2 / 1;
}

#mostra-dicas:hover {
    cursor: pointer;
}

.flash-effect-tip {
    animation-name: flash-effect-tip;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /*- caso você queira que o efeito se repita infinitamente*/
    background-color: 1s ease;
}

@keyframes flash-effect-tip {
    0% {
        background-color: rgb(50, 150, 160);
    }

    50% {
        background-color: rgb(49, 111, 178);
    }

    100% {
        background-color: rgb(50, 150, 160);
    }
}

#dicas {
    width: 86%;
    background-color: rgb(49, 111, 178);
    border: double 7px rgb(165, 168, 167);
    border-radius: 5px;
    margin: 2% auto auto auto;
    padding: 1% 3%;
    font-size: 3rem;
    line-height: 4rem;
    display: none;
}

p {
    font-size: 2rem;
    text-align: start;
}

#palavra-secreta {
    margin: auto;
    grid-area: 3 / 1;
    width: auto;
}

td {
    width: 50px;
    height: 50px;
}

.box {
    width: 50px;
    height: 50px;
    background-color: gray;
    text-align: center;
    color: transparent;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: not-allowed;
    user-select: none;
    /* Evita a seleção de texto */
}

.box-editavel {
    width: 50px;
    height: 50px;
    background-color: gray;
    text-align: center;
    color: transparent;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 3.8rem;
    text-transform: uppercase;
    cursor: text;
    color: black;
    /* user-select: auto;  Permite selecionar o texto */
    /* pointer-events: auto;  Garante que os eventos de clique sejam permitidos */
    /* background-color: white;  Torna o fundo visível e editável */
    /* border: 1px solid gray; Adiciona uma borda para inputs editáveis */
}

.box-nao-editavel {
    width: 50px;
    height: 50px;
    background-color: red;
    text-align: center;
    color: transparent;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 3.8rem;
    text-transform: uppercase;
    cursor: not-allowed;
    user-select: none;
    /* Evita a seleção de texto */
    z-index: 2;
    position: relative;
}

.box-hifen {
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: transparent;
    border: none
}

input:focus {
    outline: none;
}

#teclado {
    padding: 0 5%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    align-items: center;
    grid-area: 4 / 1;
}

.tecla {
    width: 65px;
    height: 65px;
    margin: 5%;
    background-color: rgb(243, 242, 242);
    font-weight: bold;
    font-size: 2rem;
}

.tecla:hover {
    cursor: pointer;
}

.tecla-clicada {
    width: 65px;
    height: 65px;
    margin: 5%;
    color: antiquewhite;
    background-color: rgb(158, 157, 157);
    opacity: 30%;
    pointer-events: none;
    cursor: not-allowed;
}

.tecla-clicada:hover {
    cursor: not-allowed;
}

button.tecla:disabled {
    pointer-events: auto !important;
    cursor: not-allowed;
}

.efeito-letra-errada {
    animation-name: efeito-letra-errada;
    animation-duration: 1s;
}

@keyframes efeito-letra-errada {
    0% {
        background-color: rgb(252, 4, 4);
    }

    50% {
        background-color: rgb(249, 144, 6);
    }

    100% {
        background-color: rgb(250, 3, 3);
    }
}

.tecla-nula {
    display: none;
}

#mensagem-dica {
    display: none;
    grid-area: 1 / 1 / span 2 / span 1;
    justify-self: center;
    /* centraliza horizontalmente */
}

#mensagem-dica2 {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
}

#mensagem-letra-certa {
    display: none;
    grid-area: 1 / 1 / span 2 / span 1;
    justify-self: center;
    /* centraliza horizontalmente */
}

#mensagem-letra-errada {
    display: none;
    grid-area: 2 / 1;
    justify-self: center;
    /* centraliza horizontalmente */
}

#imgmens {
    width: 750%;
    height: 900px;
    position: relative;
    margin: 0 auto;
    align-self: end;
}

#imagem-mensagem-dica {
    width: 750%;
    height: 900px;
    position: relative;
    margin: 0 auto;
    align-self: end;
}

#mensagem-game-over-erro {
    display: none;
    grid-area: 1 / 1 / span 2 / span 1;
}

#mensagem-game-over-acerto {
    display: none;
    grid-area: 1 / 1 / span 2 / span 1;
    margin: auto;
}

#imagem-over {
    height: 900px;
    position: relative;
    margin: 0 auto;
    align-self: end;
}

#ok {
    width: 70px;
    height: 70px;
    background-color: brown;
    position: absolute;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    margin: 19% 12%;
    border: outset 7px rgb(165, 168, 167);
    border-radius: 5px;
    z-index: 2;
    bottom: 49%;
    left: 49%;
}

#ok:hover {
    transform: scale(120%);
    cursor: pointer;
}

#ok2 {
    width: 50px;
    height: 50px;
    background-color: brown;
    position: absolute;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    margin: 70% -30%;
    border: outset 7px rgb(165, 168, 167);
    border-radius: 5px;
    z-index: 2;
}

#ok2:hover {
    transform: scale(120%);
    cursor: pointer;
}

.efeitoflash-button {
    animation-name: efeitoflash-button;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /*- caso você queira que o efeito se repita infinitamente*/
}

@keyframes efeitoflash-button {
    0% {
        background-color: brown;
    }

    50% {
        background-color: rgb(220, 79, 8);
    }

    100% {
        background-color: brown;
    }
}

#ok3 {
    width: 70px;
    height: 70px;
    background-color: brown;
    position: absolute;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    margin: 22% 12%;
    border: outset 7px rgb(165, 168, 167);
    border-radius: 5px;
    z-index: 2;
    bottom: 49%;
    left: 49%;
}

#ok3:hover {
    transform: scale(120%);
    cursor: pointer;
}

#rodape {
    display: flex;
    justify-content: center;
    margin: auto 0;
    grid-area: 5 / 1;
}

#Marcatempo {
    background-color: rgb(49, 111, 178);
    width: 180px;
    height: 150px;
    text-align: center;
    border-radius: 8px;
    border: outset 5px rgb(252, 237, 177);
    margin: 2%;
    padding-top: 1%;
}

#Marcapontuacao {
    background-color: rgb(49, 111, 178);
    width: 180px;
    height: 150px;
    text-align: center;
    border-radius: 8px;
    border: outset 5px rgb(252, 237, 177);
    margin: 2%;
    padding-top: 1%;
}

#sair {
    background: rgb(49, 111, 178);
    width: 180px;
    height: 150px;
    font-size: 28px;
    border-radius: 8px;
    border: outset 5px rgb(252, 237, 177);
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    font-style: normal;
    line-height: 7rem;
    margin: 2%;
}

h5 {
    font-size: 2rem;
    font-family: "Palatino Linotype";
    color: black;
}

h2 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 5rem;
    font-style: normal;
    line-height: 7rem;
}